*
{
  margin:0;
  padding:0;
}

body {
    background-color: dimgrey;
    color: #ffffff;
    width: 100%;
}

header {
    background-color: black;
    text-align: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: auto;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}

b {
    flex: 1;
    text-align: left;
    align-items: center;
    padding-top: 0.7%;

    /* font styling */
    font-family: "Bebas Neue";
    letter-spacing: 0px;
    font-weight: 400;
    color: #ffffff;
    font-size: 7.5vw;
}

nav {
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
}

li {
    padding-left: 5%;
    padding-right: 5%;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    padding-left: 5%;
    padding-right: 5%;
}
