*
{
  margin:0;
  padding:0;
}

body {
    background-color: black;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: "Nunito";
  letter-spacing: 2px;
}