*
{
  margin:0;
  padding:0;
}

body {
    background-color: dimgrey;
    color: #ffffff;
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
    font-weight: 400;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    padding-left: 5%;
    padding-right: 5%;
}

logo {
    padding-left: 0.5%;
}

b {
    text-decoration: none;
    letter-spacing: 0;
    font-size: 499%;
    font-family: "Bebas Neue"; 
    font-weight: 100;
}

li {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    background-color: black;
    text-align: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: auto;
    height: 100px;
}

nav {
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
}