*
{
  margin:0;
  padding:0;
}

body {
    background-color: dimgrey;
    color: #ffffff;
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    font-family: "Nunito";
    letter-spacing: 2px;
    padding-left: 5%;
    padding-right: 5%;
}

li {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: auto;
    height: 100px;
}

nav {
    display: flex;
    justify-content: flex-end;
}